@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Helpers</h1>
<br />

<hr />
<form asp-action="guardar">
    <div class="form-group row mb-4">

        <div class="">
            @Html.Label("lblNombre", "Nombre Usuario:")
        </div>
        <div class="col-sm-4">
            @Html.TextBox("txt_NombreDeUsuario", "", new { @class = "form-control" })
        </div>

        <div class="">
            @Html.Label("lblContrasena", "Contraseña:")
        </div>
        <div class="col-sm-4">
            @Html.Password("Contrasena", "", new { @class = "form-control" })
        </div>

        <div class="">
            @Html.Label("lblGenero", "Género:")
        </div>
        <div class="">
            @Html.RadioButton("Genero", "Masculino", true, new { id = "masculino" })
            Masculino
            @Html.RadioButton("Genero", "Femenino", false, new { id = "femenino" })
            Femenino
        </div>

        <div class="">
            @Html.Label("lblDireccion", "Dirección:")
        </div>
        <div>
            @Html.TextArea("Direccion", "", new { @class = "form-comtrol", id = "idDireccion", cols = "30", placeholder = "Ingrese su dirección" })
        </div>

        <div class="">
            @Html.Label("lblPasatiempos", "Pasatiempos:")
        </div>
        <div>
            @Html.CheckBox("Bailar") Bailar
            @Html.CheckBox("Correr") Correr
            @Html.CheckBox("Escalar") Escalar
            @Html.CheckBox("Películas") Películas
        </div>

        <div class="">
            @Html.Label("lblCursos", "Cursos:")
        </div>

        <div>
            @{
                IEnumerable<string> strList = new List<string> { "DAW", "SI", "MIC", "RED" };
            }
            @Html.DropDownList("ddlCurso", new SelectList(strList, strList.FirstOrDefault()), "--Seleccionar curso ----")
        </div>


        <div class="">
            @Html.Label("lblConocimientos", "Conocimientos:")
        </div>
        <div>
            @Html.ListBox("Seleccionar habilidades", new List<SelectListItem>
            {
            new SelectListItem {Text = "C #", Value = "1"},new SelectListItem {Text = "ASP.NET", Value = "2"},
            new SelectListItem {Text = "ASP.NET Core", Value = "3"},
            new SelectListItem {Text = "Azure", Value = "4"}
            }
                     )

        </div>

        <hr />
        <div class="form-group row mb-4">
            <br />
            <br />
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <input type="submit" class="btn btn-primary" value="Enviar datos"
            </div>
        </div>
        <hr />
    </div>
</form>